@import '../styles/utility.scss';

.pageContainer {
  display: flex;
  flex-direction: column;
  min-height: max-content;
  height: 100%;
}

.fadeIn {
  animation: fadeIn .4s ease-in-out;
}

.slideUp {
  animation: slideUp .4s ease-in-out;
}

.hidden {
  opacity: 0;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes slideUp {
  0% {
    opacity: 0;
    transform: translateY(3rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0rem);
  }
}