@import './utility.scss';

.navContainer {
    position: fixed;
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: $ts-black;
    z-index: 2;
    padding: 0.5rem 0;
    opacity: 1;
    transition: opacity .6s ease-in-out;
}

.fade {
    opacity: 0;
}

.nav {
    display: flex;
    align-items: center;
    width: 95%;
    color: $ts-white;
    justify-content: space-between;
    background-color: $ts-black;
}

.navLogo {
    background: 0;
    border: 0;
    cursor: pointer;
    margin: 0rem 0.5rem;
}

.navLinks {
    display: none;
    gap: 3rem;
    z-index: 1;
    transition: height 0.6s, opacity 0.6s;
    a {
        text-decoration: none;
        white-space: nowrap;
        font-size: large;
    }
}

.navLinks > span:hover {
    border-bottom: solid $ts-white 1px;
    transition: .4s;
    cursor: pointer;
    width: fit-content;
}

.navLinksOpen {
    display: flex;
    flex-direction: column;
    padding: 2rem;
    position: absolute;
    background-color: $ts-black;
    padding-top: 6rem;
    height: 100vh;
    opacity: 1;
    top: 0;
    left: 0;
    width: 100%;
    z-index: -1;
    a {
        font-size: x-large;
    }
}

.navLinksClosed {
    display: flex;
    flex-direction: column;
    padding: 2rem;
    position: absolute;
    background-color: $ts-black;
    height: 0vh;
    opacity: 0;
    padding-top: 6rem;
    top: 0;
    left: 0;
    width: 100%;
    z-index: -1;
}

.mobileMenu {
    display: flex;
    background: 0;
    border: 0;
    cursor: pointer;
}

.active {
    border-bottom: solid $ts-white 1px;
    max-width: fit-content;
    padding-bottom: 0.5rem;
}

.rotate {
    animation: rotate .4s ease-out;
}

@media (min-width: 768px) {
    .mobileMenu { 
        display: none;
    }
    .navLinks { 
        display: flex;
    }
    .navLogo {
        margin-left:-2%;
    }
    .navLinksOpen {
        display: none;
    }
    .navLinksClosed {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 0;
        opacity: 1;
        position: initial;
        background-color: $ts-black;
        top: inherit;
        left: inherit;
        width: initial;
        z-index: inherit;
    }
}

@keyframes rotate {
    100% {
        transform: rotate(180deg);
    }
}