@import './utility.scss';

:export {
    green: $ts-green;
    black:$ts-black;
    blue:$ts-blue;
    white: $ts-white;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    max-width: 30rem;
    gap: 3rem;
    p {
        font-size: x-large;
        margin: 0;
        margin-left: 2rem;
    }
    button {
        margin-top: 2rem;
        font-size: x-large;
    }
}